.overflow {
  padding: 3%;
  overflow: scroll;
  width: 100%;
  height: 425px;
}

Form {
  width: 100%;
  align-self: center;
}

Field {
  align-self: center;
}

.borderFix {
  border: 20px solid white;
}

.large.text {
  font-size: 2rem;
}
