.app {
  font-family: Courier New, Courier, monospace;
}
.overflow {
  padding: 3%;
  overflow: scroll;
  width: 100%;
  height: 425px;
  border:3px solid grey;
  border-radius: 5px;
}

/* Form {
  width: 30%;
  align-self: center;
} */

Field {
  align-self: center;
}

.borderFix {
  border: 20px solid white;
  border-style: none;
}

.large.text {
  font-size: 2rem;
}
.signin {
  width: 18%;
}
.TextArea {
  width: 100%;
}
.createWager {
  margin-left: 28em;
  width: 30%;
}
.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup {
  width: 18%;
}
.side-bet {
  display: flex;
  width: 30em;
}
.side-input {
  width: 5em;
}
#loading-false {
  display: none;
}

.loading-text{
  width: 15em;
}

#error {
  display: none;
}

